doctype html
html
  head
    title Admin
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Admin
    form(role='form')
	    input(type='text', name="trip_notes", placeholder='Enter Trip Notes')
